.login-container {
  display: flex;
  padding: 1rem;
  margin: auto;
  gap: 1rem;
  min-height: 100vh;
  position: relative;
}

.login-container .leftside {
  background: linear-gradient(0deg, rgba(87,23,230,1) 0%, rgba(74,53,255,1) 100%);
  position: fixed;
  border-radius: 1rem;
  width: 40%;
  height: 97%;
  padding: 5rem; 
}

.login-container .leftside .logo {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.login-container .leftside .major-phase {
  color: white;
  line-break: auto;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.login-container .leftside .minor-phase {
  color: gainsboro;
  line-break: auto;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 1;
}

.login-container .leftside .suggest-card {
  color: white;
  line-break: auto;
  font-weight: lighter;
  font-size: 1.5rem;
  height: 30%;
  line-height: 1;
  margin-top: 10rem;
  background-color: rgba(0,0,0,0.36);
  padding: 2rem;
  border-radius: 1rem;
}

.login-container .rightside {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 40%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 13%;
  padding-right: 13%;
}

.login-container .rightside .error-message {
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}
