.container {
  display: flex;
  flex-direction: column;
  background-color: #e0e4ee;
  min-width: 280px;
  height: 100%;
  border-right: 1px solid #e6e6e6;
  border-top-right-radius: 22px;
  // position: fixed;
  // top: 80px;
}
