.register-container {
  display: flex;
  padding: 1rem;
  margin: auto;
  gap: 1rem;
  min-height: 100vh;
  position: relative;
}

.radio-container {
  display: flex;
  margin-top: .5rem;
  gap: 2rem;
}

.register-container .leftside {
  background: linear-gradient(0deg, rgba(87,23,230,1) 0%, rgba(74,53,255,1) 100%);
  position: fixed;
  border-radius: 1rem;
  width: 40%;
  height: 97%;
  padding: 5rem; 
}

.register-container .leftside .logo {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.register-container .leftside .major-phase {
  color: white;
  line-break: auto;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.register-container .leftside .minor-phase {
  color: gainsboro;
  line-break: auto;
  font-weight: lighter;
  font-size: 1.5rem;
  line-height: 1;
}

.register-container .leftside .suggest-card {
  color: white;
  line-break: auto;
  font-weight: lighter;
  font-size: 1.5rem;
  height: 30%;
  line-height: 1;
  background-color: rgba(0,0,0,0.36);
  padding: 2rem;
  margin-top: 10rem;
  border-radius: 1rem;
}

.register-container .rightside {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 13%;
  padding-right: 13%;
}

.register-container .rightside .back-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: .3rem;
  color: gainsboro;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.register-container .rightside .back-logo:hover {
  color: black;
}

.register-form-container {
  width: 100%;
  position: relative;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}

.register-form .error-message {
  color: red;
}

.register-form .password-field {
  display: flex;
  gap: 1rem;
}
