.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 80%;
  height: 55px;
  border-radius: 12px;
  font-weight: 500;
  user-select: none;

  &:hover {
    cursor: pointer;
    transition: 0.1s;
    color: #3a4866;
  }

  .icon {
    margin-left: 10px;
    font-size: 1.25rem;
  }
}

.default {
  transition: 0.1s;
  color: #8c97ac;
}

.active {
  color: #3a4866;
  background-color: #f3f4f8;
}
